<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ $.Site.Title }} &mdash; {{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
</head>

<body>
    <div class="banner">
        <div class="content">
            <div class="header">
                <h2 class="title">{{ $.Site.Title }}</h2>
                <h3 class="subtitle">Heritage College <span class="divider">&mdash;</span> Computer Science <span class="divider">&mdash;</span> Viacheslav Knyazev</h3>
                <h3 class="subtitle">2020</h3>
            </div>
            <div class="navigation">
                <ul>
                    {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                            <li>
                                <a href="#" class="dropdown">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                                <ul class="subnav">
                                    {{ range .Children }}
                                        <li>
                                            <a href="{{ .URL }}">{{ .Name }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ else }}
                            <li>
                                <a href="{{ .URL }}">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
            {{ with $.Params.menu.main.parent }}
                PEA / {{ $.Param "menu.main.parent" }} / {{ $.Title }} 
            {{ else }}
                PEA / {{ $.Title }} 
            {{ end }}
        <div class="header">
            <div class="content">
                <div class="split">
                    <h1>{{ .Title }}
                        {{ if (eq .Title "Introduction") }} (Objective 1) {{ end }}
                        {{ if (eq .Title "Team Environment") }} (Objective 3) {{ end }}
                        {{ if (eq .Title "Project Management") }} (Objective 4) {{ end }}
                        {{ if (eq .Title "Requirements") }} (Objective 5) {{ end }}
                        {{ if (eq .Title "Analysis") }} (Objective 6) {{ end }}
                        {{ if (eq .Title "Implementation") }} (Objective 8) {{ end }}
                        {{ if (eq .Title "Testing") }} (Objective 9) {{ end }}
                        {{ if (eq .Title "Communications") }} (Objective 13) {{ end }}
                        {{ if (eq .Title "Deployment") }} (Objective 10) {{ end }}
                        {{ if (eq .Title "Training") }} (Objective 11) {{ end }}
                        {{ if (eq .Title "Maintenance") }} (Objective 12) {{ end }}
                    </h1>
                    
                </div>
                <hr>
            </div>
        </div>
        <div class="content">
            {{ $toc := .TableOfContents}}    
            {{ range $index, $element := split .Content "</p>" }}
                
                {{ if eq $index 0 }}
                        <div class="split">{{ $element | safeHTML }}</p>
                        {{ if ($toc) }}
                        <div class="TableOfContents">
                            <h3>Table of Contents</h3>     
                            {{ $toc }}
                        </div>
                        {{ end }}
                    </div>
                    {{ else }}
                        {{ $element | safeHTML }}</p>
                {{ end }}
        {{ end }}
        </div>
        <div class="footer">
            <div class="content">
                <hr />
                &copy; <a href="mailto:knyazev.viacheslav@cegep-heritage.qc.ca">Viacheslav Knyazev</a>, <a
                    href="http://www.cegep-heritage.qc.ca/Programs/Computer_Science/index.php">Computer Science</a>, <a href="http://www.cegep-heritage.qc.ca/">Cegep Heritage College</a>, 2020. All Rights Reserved.

            </div>
        </div>
    </div>
    <script src="/js/menutoggle.js"></script>
</body>

</html>